<%= form_for @fridge, url: "/fridges/#{@fridge.id}/edit" do |f| %>
        <%= f.label :brand %>
            <%= f.text_field :brand %>
    </div>
    <div>
        <%= f.label :location %>
            <%= f.text_field :location %>
    </div>
    <div>
        <%= f.label :size %>
            <%= f.text_field :size %>
    </div>
    <%= f.submit "Edit Fridge" %>
<% end %>

<a href='/fridges'>Back to All</a>